
/* --------------------------------------------------------------------------------

 == Table Of Content

	01 Basics
	02 Buttons
	03 Navbar
	04 Card
	05 Showcase
	06 Features
	07 Services
	08 Portfolio
	09 Team
	10 Feedback
	11 Blog
	12 Contact
  13 Footer
  14 Loader


---------------------------------------------------------------- */


/* ----------------------------------------------------------------
     [ 01 Start Basics ]
-----------------------------------------------------------------*/

body{
  font-size:15px;
}

h1,h2,h3,h4,h5,h6{
  font-family:Poppins;
}

p{
  font-family:Roboto;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.text-center {
    text-align: center!important;
}

.bottom-space {
  margin-bottom: 1rem;
}

.justify-content-center {
    justify-content: center !important;
}

.hover-effect {
  position: relative;
  overflow: hidden;
}

.hover-effect:hover::after, .hover-effect:hover::before {
  height: 100%;
  opacity: 0;
  width: 100%;
}

.hover-effect::before, .hover-effect::after {
  content: "";
  background: #fff;
  height: 0;
  width: 0;
  z-index: 1;
  position: absolute;
  -webkit-transition-duration: 1.6s;
  -o-transition-duration: 1.3s;
  transition-duration: 1.3s;
}

.hover-effect::before, .hover-effect::after {
  content: "";
  background: #fff;
  height: 0;
  width: 0;
  z-index: 1;
  position: absolute;
  -webkit-transition-duration: 1.3s;
  -o-transition-duration: 1.3s;
  transition-duration: 1.3s;
}

.hover-effect::before {
  right: 0;
  opacity: 1;
  top: 0;
}

ol, ul {
	list-style: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----------------------------------------------------------------
     [ 01 End Basics ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
     [ 02 Start Buttons ]
-----------------------------------------------------------------*/
.button-style {
  background-color: #56a1c4;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;;
  line-height: 1em;
  outline: none;
  padding: 0.8rem 2.5rem 0.7rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none !important;
}

.showcase-btn {
  margin: 1.3rem;
}

.button-style:before,
.button-style:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 1.8rem;
  position: absolute;
  width: 1.8rem;
}

.button-style:before {
  border-color: hsl(20, 16%, 96%);
  border-left-width: 2px;
  border-top-width: 2px;
  left: -5px;
  top: -5px;
}

.button-style:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  border-right-width: 2px;
  bottom: -5px;
  right: -5px;
}

.button-style:hover,
.button-style.hover {
  background-color: #c47135;
  color: #ffffff;
}

.button-style:hover:before,
.button-style.hover:before,
.button-style:hover:after,
.button-style.hover:after {
  height: 100%;
  width: 100%;
}

/* ----------------------------------------------------------------
     [ End Buttons ]
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
     [ 03 Start Navbar ]
-----------------------------------------------------------------*/

nav a {
  color: #ffffff;
  font-size: .8rem;
  text-transform: uppercase;
  margin-right: 1rem;
}
nav{
  margin: 0px;
}

.navbar-default{
  border:0;
  font-family:Poppins;
}

.navbar-brand{
  font-size:1rem;
  color:#000 !important;
  font-weight:bold;
}

.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
    padding: 0.6rem;
}

.navbar-default .navbar-nav>li>a {
  font-size: 0.7rem;
  font-weight: 500;
  color: #eee;
  letter-spacing: .5px;
  margin-left: .9px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a:active {
  color: #0dd;
}

a.navbar-brand {
    color: #fff !important;
}

.navbar-default{
  border:0;
  font-family:Poppins;
}

.navbar-brand{
  font-size:20px;
  color:#000 !important;
  font-weight:bold;
}

.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
    padding: .7px;
}

.navbar-default .navbar-nav>li>a {
  font-size: 13px;
  font-weight: 500;
  color: #eee;
  letter-spacing: .5px;
  margin-left: 14px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #ffffff;
}
div#navbarSupportedContent ul.navbar-nav li:hover{
  background-color: #0c5460;

}

.navbar-default .navbar-nav>li>a:active {
  color: #0dd;
}

.activate-menu {
  background-image: linear-gradient(-140deg, #2c7dbc 15%, #7cccc5 70%);
  -webkit-box-shadow: -3px 13px 24px -1px rgba(0,0,0,0.3);
  box-shadow: -3px 13px 24px -1px rgba(0,0,0,0.3);
}

a.navbar-brand {
    color: #fff !important;
}

.navbar-nav li {
    float: left;
    font-size: 15px;
    text-transform: uppercase;
}

nav:before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 1s cubic-bezier(0.4, 0.25, 0, 1);
    transition: all 1s cubic-bezier(0.4, 0.25, 0, 1);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-box-shadow: 0 0 50px 1px rgba(0,0,0,0.05);
    box-shadow: 0 0 50px 1px rgba(0,0,0,0.05);
    background-color: #ffffff;
}

.navbar--scrolled:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 12px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

@media (max-width: 700px) {

  nav ul {
    //margin-top: -60px;
    text-align: center;
  }

  nav ul li a {
    text-align: center;
  }

  nav ul li:hover {
    background-color: #fff;
  }
  .navbar-light .navbar-nav .nav-link:hover{
    color: #000;
  }


 }

/* ----------------------------------------------------------------
     [ End Navbar ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
     [ 4 Start card style ]
-----------------------------------------------------------------*/

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
}

.feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
  }

  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }

/* Card style end here */

/* Testimonial section start here */
#testimonial{
  padding: 50px 0 30px 0;
  text-align:center;
}

#testimonial p{
  font-size:32px;
  font-family: 'Josefin Sans';
  color:#000;
}

#testimonial p.customer{
  font-size:20px;
  color:#666;
}

/* ----------------------------------------------------------------
     [ End card style ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
     [ 05 Start Showcase ]
-----------------------------------------------------------------*/
div#showcase{
  height: 25em;
}
#showcase {
  height: 98vh;
  background-image: linear-gradient(to right bottom,
  rgba(50,139,207, 0.8), rgba(158, 196, 250, 0.8)), url(delivery-car.jpg);
  background-size: cover;
  background-position: center;
  //margin-top: 50px;
  background-attachment:fixed;
  clip-path: ellipse(150% 100% at 50% 0);
  -webkit-clip-path: ellipse(150% 100% at 50% 0);
}

.showcase-caption {
  position: relative;
  text-align: center;
  top: 30px;
}

.showcase-caption h4{
  color: #ffffff;
  font-size: 30px;
}

.showcase-caption h1{
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
}

.showcase-caption p{
  color: #ffffff;
  font-size: 16px;
  line-height: 2.5;
}

.showcase-button {
  margin-top: 30px;
}


@media (max-width: 705.98px) {

.showcase-caption {
    position: relative;
    text-align: center;
    top: 130px;
}

.showcase-caption h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}

.features-caption h4::after {
    display: none;
}

}
/* ----------------------------------------------------------------
     [ 05 End Showcase ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
     [ 06 Start Features ]
-----------------------------------------------------------------*/
.card{
  text-align: center;
}
.card-header{

  font-size: 40px;
  font-weight: bold;
}
.card-body {
  font-size: 30px;
}
div.feature-box{
  height: 275px;
}
div.feature-box i{
  margin-top: 0;
  margin-bottom: 10px;
}

#features {
    background: #fff;
    padding-top: 30px;
}

.intro h4:after {
    content: '';
    width: 60px;
    height: 2px;
    background: #2AAFC0;
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
}

.features-caption h3{
  font-size: 35px;
  font-weight: bold;
}

.features-caption h4{
 font-size: 30px;
}

.features-caption p {
    width: 70%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.features-row-2 {
  margin-top: 40px;
}

.features-section-2 {
  margin-top: 40px;
}

.features-section-2-col-1 {
  background-position: center;
  height: 300px;
}

.features-section-2-col-2 {
  background-color: #f7f7f7;
  height: 500px;
  padding: 30px;
}

.features-section-2-col-2__content {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  margin: auto;
  height: 100%;
  padding: 100px 10%;
  -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}

/* ----------------------------------------------------------------
     [ End Features ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
     [ 07 Start Services ]
-----------------------------------------------------------------*/
//
//#services {
//  padding-top: 100px;
//}

.services {
  padding-top: 100px;
  margin-bottom: 1.5rem;
  background: #fff;
  padding-top: 6rem;
  margin-bottom: 2rem;
}
.folded-corner:hover .text{
	visibility: visible;
	color: #ffffff;;
}
.Services-tab{
	margin-top:20px;
}

/*
  nav link items
*/
.folded-corner{
  padding: 25px 25px;
  position: relative;
  font-size: 90%;
  text-decoration: none;
  color: #999;
  background: transparent;
  transition: all ease .5s;
  border: 1px solid rgba(31,181,172,.9);
  height: 300px;
}
.folded-corner:hover{
	background-color: rgba(31,181,172,.9);
}

.folded-corner:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0px 0px 0;
  border-color: #ddd #000;
  transition: all ease .3s;
}

.folded-corner:hover:before {
	background-color: #D00003;
  border-width: 0 50px 50px 0;
  border-color: #eee #000;

}

.service_tab_1{
	background-color: #ffffff;
}
.service_tab_1:hover .fa-icon-image{
    color: #ffffff;
    transform: rotate(360deg) scale(1.2);
}
h3.item-title{
  margin: 10px;
}

.fa-icon-image{
	color: rgba(31,181,172,.9);
	display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    text-rendering: auto;
    transition: all .65s linear 0s;
    text-align: center;
    transition: all 1s cubic-bezier(.99,.82,.11,1.41);
}

/* ----------------------------------------------------------------
     [ End Services ]
-----------------------------------------------------------------*/
